<div class="row">
<div class="col-xs-3">
<div class="panel panel-default">
<div class="panel panel-body">
<p> status </p>
</div>
</div>
</div>

<div class="col-xs-6">
<div class="panel panel-default">
<div class="panel panel-body">
<p> feed </p>
</div>
</div>
</div>

<div class= "col-xs-3">
<div class="panel panel-default">
<div class="panel panel-body">
<p> about </p>
</div>
</div>
</div>
</div>

<!--row 2 begins here  -->

<div class="row">
<div class="col-xs-3">
<div class="panel panel-default">
<div class="panel panel-body">
<p> trends </p>
</div>
</div>
</div>
</div>