<div class="row">
<div class="col-xs-12">
<div class="jumbotron">
      HEADER
 </div>
</div>
</div>

<div class="row">
<div class="col-xs-3">
<div class="panel panel-default">
<div class="panel panel-body">
<p> Profile </p>
</div>
</div>
</div>

<div class="col-xs-6">
<div class="panel panel-default">
<div class="panel panel-body">
<p> Tweets </p>
</div>
</div>
</div>

<div class= "col-xs-3">
<div class="panel panel-default">
<div class="panel panel-body">
<p> Who To Follow</p>
</div>
</div>
</div>
</div>

<!--row 2 begins here  -->

<div class="row">
<div class="col-xs-3 col-xs-offset-9">
<div class="panel panel-default">
<div class="panel panel-body">
<p> trends </p>
</div>
</div>
</div>
</div>
